* {
    margin: 0;
}

.center {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-top: 35px;
    background-image: url("../img/pattern.png");
    background-size: 350px;
    background-color: #4ea0ff;
}

img {
    width: 200px;
}
